@import '~normalize.css/normalize.css';
@import 'Common.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font_body;
  background-color: $color_bg;
  color: $color_copy;
  font-size: calc(1rem * calc(15/16));
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $dark_color_bg;
    @include dark_color_copy;
  }
}

a {
  color: inherit;
}

figure {
  margin: 0;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.page-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.section-container {
  width: 100%;
  margin: 0 0 2em;
}

.fade-appear {
  opacity: 0;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter-done {
  opacity: 1;
  transition: opacity 200ms ease;
  transition-delay: 100ms;
}

.fade-exit {
  opacity: 1;
  z-index: 1;
}

.fade-exit-done {
  opacity: 0;
  transition: opacity 200ms ease;
}

.main-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  svg {
    fill: $color_copy;
  }

  @media (prefers-color-scheme: dark) {
    svg {
      fill: $dark_color_copy;
    }
  }
}