@import './Common.scss';

.site-title {
    font-family: $font_headline;
    font-weight: bold;
    letter-spacing: -.03em;
    margin: 0 0 .15em;
    font-size: 2rem;

    a {
        text-decoration: none;
    }
}

.site-description {
    margin: 0;
    font-size: 1.25rem;
}

.masthead { 
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    // &:after {
    //     content: '';
    //     border-top: 1px solid $color_copy;
    //     margin: 20px 0 0;
    //     width: 100%;
    // }
}

.site-navigation {
    font-family: $font_headline;
    font-weight: bold;
    padding-bottom: 5px;
}

.site-navigation-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    .menu-item {
        margin-left: 2em;

        a {
            text-decoration: none;
            transition: color .35s ease;

            &.is-active,
            &:hover {
                color: #900;
            }
        
        }
    }

}

.site-navigation-toggle {
    display: none;
}

@media screen and ( max-width: 768px ) {

    .site-navigation {
        width: 100%;
        margin-top: 2em;
    }

    .site-navigation-menu {
        justify-content: flex-start;

        .menu-item {
            // flex-basis: calc((100%/3) + 20px);
            margin: 0 40px 0 0;
        }
    }

    // .site-navigation-toggle {
    //     display: block;
    // }

    // .site-navigation-menu {
    //     display: none;

    //     &.toggled-true {
    //         display: block;
    //     }
    // }
}