@import './Common.scss';

.site-title {
    font-family: $font_headline;
    font-weight: bold;
    letter-spacing: -.03em;
    margin: 0 0 .15em;
    font-size: 2rem;

    a {
        text-decoration: none;
    }
}

.site-description {
    margin: 0;
    font-size: 1.25rem;
}

.masthead { 
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

}

.site-navigation {
    font-family: $font_headline;
    font-weight: bold;
    padding-bottom: 5px;

}

@media screen and ( min-width: 480px) {
    .site-navigation {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) {
    .site-navigation {
        justify-content: flex-end;
    }
}

.site-navigation-menu {
    list-style-type: none;
    margin: 0 2em 0 0;
    padding: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    .menu-item {
        margin-left: 2em;

        a {
            text-decoration: none;
            transition: color .35s ease;

            &.is-active,
            &:hover {
                color: #900;
            }
        
        }
    }

}

.site-navigation-toggle {
    display: none;
}

@media screen and ( max-width: 767px ) {

    .site-navigation {
        width: 100%;
        margin-top: 2em;
    }

    .site-navigation-menu {
        justify-content: flex-start;
        margin-right: 0;

        .menu-item {
            // flex-basis: calc((100%/3) + 20px);
            margin: 0 40px 0 0;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 480px) {

    .site-navigation-menu {
        .menu-item {
            margin: 0;
        }
    }
    .site-navigation {

        .site-navigation-menu {
            width: 66.67%;
            margin: 0;
            justify-content: space-between;
        }
    
        .search-box {
            width: 66.67%;
            justify-content: space-between;
        }
    
    }
}

.site-navigation {
    .search-box {
        margin-top: 1em;
        display: inline-flex;

        @media screen and (min-width: 480px) {
            margin-top: 0;
            display: flex;
        }
    }
}