.not-found {

    .not-found-content {

        transition: transform .3s ease;
    
        &:hover {
            transform: rotate(180deg);
        }
    
    }

    .not-found-search {
        padding-top: 2em;
        margin: 0 auto;
    }

}

.not-found-content,
.not-found-search {

    padding: 0 20px;
    margin-top: 2em;

    p {
        font-size: 1.25rem;
    }

    .second-message {
        transform: rotate(180deg);
        text-align: right;
    }
}

@media screen and (min-width: 768px) {

    .not-found-content,
    .not-found-search {
        width: 70%;
        margin: 2em auto 0;
    }

}