@import '../styles/Common.scss';

.post-title {
    font-family: $font_headline;
    letter-spacing: -.03em;

    font-size: 1.5rem;

    word-break: break-word;

    a {
        text-decoration: none;
    }
}

@media screen and (min-width: 768px) {
    .post-title {
        font-size: 2em;
    }
}